/* CONTAINER */
.grid-container {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header header header'
    'potato pages pages'
    'potato current current'
    'potato current current'
    'potato current current'
    'potato current current'
}

/* HEADER */
.header {
  grid-area: header;
  text-align: center;
  border: 5px solid black;
}

.header h1 {
  color: burlywood;
  position: relative;
  top: 25%;
}

/* POTATO */
.potato {
  grid-area: potato;
  border: 5px solid black;
  border-top: 0;
  text-align: center;
}

.potato h3 {
  color: burlywood;
  display: grid;
  position: relative;
  top: 200px;
}

.potato p {
  color: blanchedalmond;
  display: grid;
  position: relative;
  top: 200px;
}

.potato img {
  position: relative;
  top: 200px;
  width: 200px;
  height: 200px;
}

.potato img:hover {
  cursor: pointer;
}

/* PAGES */
.pages {
  grid-area: pages;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  display: grid;
  grid-template-areas: 'upgrades stats';
}

.pages > h2 {
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  color: blanchedalmond;
}

.pages > h2.upgrades {
  grid-area: upgrades;
  text-align: center;
}

.pages > h2.stats {
  grid-area: stats;
  text-align: center;
}

.pages > h2:hover {
  background-color: lightslategray;
  cursor: pointer;
}

/* UPGRADES PAGE */
.upgradesPage {
  grid-area: current;
  text-align: center;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  display: grid;
  grid-template-areas:
  'header header header header'
  'type amount count buy'
  'type amount count buy'
  'type amount count buy'
  'type amount count buy'
  'type amount count buy'
  'type amount count buy'
  'type amount count buy'
  'type amount count buy';
}

.upgradesPage > h1.upgradesHeader {
  grid-area: header;
  text-align: center;
  border-bottom: 1px dashed black;
  color: burlywood;
}

.upgradesPage > div > button {
  background-color: inherit;
  border: 2px solid black;
}

.upgradesPage > div > button:hover {
  cursor: pointer;
}

.upgradesPage > div > button:focus {
  border-color: black;
}

/* STATS PAGE */
.statsPage {
  grid-area: current;
  text-align: center;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
